{% extends "/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Panel użytkownika
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar">
          <ul class="nav-sidebar">
            <li class="active"><a href="/dashboard">Profil użytkownika</a></li>
              <li class="active"><a href="/covid">Formularz covidowy</a></li>
            <li><a href="{{ url_for('logout')}}">Wylogowanie</a></li>
          </ul>
        </div>
        <div class="col-sm-10 main">
          <div class="content">
            <div class="info-banner">
              <h4>Tutaj możesz wypełnić formularz oceny ryzyka zarażenia koronawirusem SARS-Cov-2 wywołującego chorobę COVID-19 </h4>
            </div>
            <div class="profil-information">
              <div class="row">
                <div class="container">
                  <form class="form-covid" method="POST" action="/login">
                    {{ wtf.form_field(form.name) }}
                    {{ wtf.form_field(form.surname) }}
                    {{ wtf.form_field(form.personal_id_number) }}
                    {{ wtf.form_field(form.phone_number) }}
                    {{ wtf.form_field(form.temperature) }}
                    {{ wtf.form_field(form.medicine) }}
                    {{ wtf.form_field(form.first_issues) }}
                    {{ wtf.form_field(form.second_issues) }}
                    {{ wtf.form_field(form.third_issues) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Potwierdź dane</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}