{% extends "/base.html" %}

{% block title %}
Panel użytkownika
{% endblock %}

{% block content %}
    <div class="container-fluid dashboard">
      <div class="row">
        <div class="col-sm-2 sidebar">
          <ul class="nav-sidebar">
            <li class="active"><a href="/dashboard">Profil użytkownika</a></li>
            <li class="active"><a href="/covid">Formularz covidowy</a></li>
            <li><a href="{{ url_for('logout')}}">Wylogowanie</a></li>
          </ul>
        </div>
        <div class="col-sm-10 main">
          <h1 class="page-header">Witaj, {{ username }}!</h1>
          <div class="content">
            <div class="info-banner">
              <h4>Tutaj znajdziesz informacje na temat swojego profilu.</h4>
            </div>
            <div class="profil-information">
              <div class="row">
                <div class="col">
                  <form class = 'user-info'>
                      <label for="name"><b>Imię: </b>{{ name }}</label>
                      <label for="surname"><b>Nazwisko: </b>{{ surname }}</label>
                      <label for="adres-email"><b>Email: </b>{{ email }}</label>
                      <label for="personal-id-number"><b>Pesel: </b>{{ personal_id_number }}</label>
                      <label for="phone"><b>Tel. kontaktowy: </b>{{ phone }}</label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}