{% extends "/base.html" %}

{% block title %}
Panel użytkownika
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar">
          <ul class="nav-sidebar">
            <li class="active"><a href="/dashboard">Profil użytkownika</a></li>
            <li><a href="{{ url_for('logout')}}">Wylogowanie</a></li>
          </ul>
        </div>
        <div class="col-sm-10 main">
          <h1 class="page-header">Witaj, {{ name }}!</h1>
          <div class="content">
            <div class="info-banner">
              <h4>Tutaj znajdziesz informacje na temat swojego profilu.</h4>
            </div>
            <div class="profil-information">
              <div class="row">
                <div class="col-sm">
                  One of three columns
                </div>
                <div class="col-sm">
                  One of three columns
                </div>
                <div class="col-sm">
                  One of three columns
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}