.profil-information div div form label {
    font-size: 18px;
    display:block;
    margin-bottom: 1rem;
}

.sidebar {
    background-color: rgba(240, 241, 243, 0.8);
    border-right: 2px solid rgba(240, 241, 243, 0.9);
}

.sidebar ul {
    padding: 10px 0px;
}

.sidebar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

.sidebar ul li {
    margin: 20px 5px;
}

.info-banner h4 {
    text-align:center;
}

.page-header {
    text-align:center;
}

.user-form, .profil-information div div form {
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.form-covid .form-group label, .form-covid .form-group input{
    display: inline-block;
}

.form-covid .form-group label {
    width: 20%;
    margin-right: 40px;
}

.form-covid .form-group input {
    width: 74%;
}

.form-covid .checkbox label input {
    float: right;
}