.profil-information div div form label {
    font-size: 18px;
    display:block;
    margin-bottom: 1rem;
}

.sidebar {
    background-color: rgba(240, 241, 243, 0.8);
    border-right: 2px solid rgba(240, 241, 243, 0.9);
}

.sidebar ul {
    padding: 10px 0px;
}

.sidebar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

.sidebar ul li {
    margin: 20px 5px;
}

.info-banner h4 {
    text-align:center;
}

.page-header {
    text-align:center;
}

.user-form, .profil-information div div form {
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.user-form .form-group label, .user-form .form-group div{
    display: inline-block;
}

.radio-inline {
    margin-right:20px;
}