li {
    list-style: none;
}

.content .info-banner {
    padding: 20px 0px;
}

.content .main-content {
    padding: 20px 0px;
}

.form-signin h2 {
    padding: 20px 0px;
}

.form-signin button {
    margin-bottom: 20px;
}

.flashes {
    position: relative;
    width: 100%;
    background-color: rgba(240, 241, 243, 0.8);
    padding-bottom: 10px;
}

.flashes li {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

